*,::after,::before
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width:100vw;
}


:root
{
    /*Primary color*/
    --Primary-1:rgba(208, 208, 223, 0.589);
    --Primary-2:rgba(10, 32, 75, 0.856);

    /*Light Primary Color*/
    --Primary-light-1:rgba(10, 32, 75, 0.479);
}


.flex-column
{
    display: flex;
    flex-direction: column;
}

.flex-column-center
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.o-body
{
    display: flex;
    gap:2rem;
    margin:1rem 1.3rem 0 1.3rem;
}



